AsksinPP_developments/sketches/HB-UNI-Sensor1-THP_MA-AHT20_BMP280/addon/hb-ep-devices-addon/CCU_RM/AsksinPP_addon_files_generator/libraries/occu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="device">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="supported_types"/>
        <xs:element maxOccurs="unbounded" ref="paramset"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="channels"/>
          <xs:element ref="frames"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element ref="paramset_defs"/>
          <xs:element ref="team"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="class" type="xs:NCName"/>
      <xs:attribute name="cyclic_timeout" type="xs:integer"/>
      <xs:attribute name="default" type="xs:NCName"/>
      <xs:attribute name="peering_sysinfo_expect_channel" type="xs:boolean"/>
      <xs:attribute name="rx_default" type="xs:NCName"/>
      <xs:attribute name="rx_modes"/>
      <xs:attribute name="supports_aes" type="xs:boolean"/>
      <xs:attribute name="ui_flags" type="xs:NCName"/>
      <xs:attribute name="version" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="paramset_defs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="parameter"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="paramset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="team">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="supported_types"/>
        <xs:element ref="paramset"/>
        <xs:element ref="channels"/>
        <xs:element ref="frames"/>
      </xs:sequence>
      <xs:attribute name="version" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="supported_types">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="type">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="parameter"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="priority" type="xs:integer"/>
      <xs:attribute name="updatable" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="paramset">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="parameter"/>
          <xs:element ref="enforce"/>
          <xs:element ref="subset"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="default_values"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="link" type="xs:boolean"/>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="enforce">
    <xs:complexType>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subset">
    <xs:complexType>
      <xs:attribute name="ref" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="default_values">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="value"/>
      </xs:sequence>
      <xs:attribute name="function" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="channels">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="channel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frames">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="frame"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="parameter"/>
      </xs:sequence>
      <xs:attribute name="allowed_receivers"/>
      <xs:attribute name="channel_field" type="xs:NMTOKEN"/>
      <xs:attribute name="direction" use="required" type="xs:NCName"/>
      <xs:attribute name="event" type="xs:boolean"/>
      <xs:attribute name="fixed_channel"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="subtype" type="xs:NMTOKEN"/>
      <xs:attribute name="subtype_index" type="xs:integer"/>
      <xs:attribute name="type" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="value_forwarding" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parameter">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="logical"/>
          <xs:element ref="physical"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="write_dependencies"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="conversion"/>
        <xs:element minOccurs="0" ref="description"/>
      </xs:sequence>
      <xs:attribute name="PARAM" type="xs:NCName"/>
      <xs:attribute name="accept_forwarded_value" type="xs:boolean"/>
      <xs:attribute name="burst_suppression" type="xs:integer"/>
      <xs:attribute name="cond_op" type="xs:NCName"/>
      <xs:attribute name="const_value" type="xs:NMTOKEN"/>
      <xs:attribute name="control" type="xs:NCName"/>
      <xs:attribute name="default" type="xs:boolean"/>
      <xs:attribute name="has_write_dependencies" type="xs:boolean"/>
      <xs:attribute name="hidden" type="xs:boolean"/>
      <xs:attribute name="id" type="xs:NCName"/>
      <xs:attribute name="index" type="xs:decimal"/>
      <xs:attribute name="loopback" type="xs:boolean"/>
      <xs:attribute name="omit_if" type="xs:integer"/>
      <xs:attribute name="operations"/>
      <xs:attribute name="param" type="xs:NCName"/>
      <xs:attribute name="signed" type="xs:boolean"/>
      <xs:attribute name="size" type="xs:decimal"/>
      <xs:attribute name="type" type="xs:NCName"/>
      <xs:attribute name="ui_flags"/>
      <xs:attribute name="value_forwarding" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="write_dependencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="write_dependency"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="write_dependency">
    <xs:complexType>
      <xs:attribute name="command" type="xs:boolean"/>
      <xs:attribute name="param" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="description">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="field"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="field">
    <xs:complexType>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="value" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="value">
    <xs:complexType>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="value" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="channel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="forward_param_values"/>
        <xs:element minOccurs="0" ref="link_roles"/>
        <xs:element minOccurs="0" ref="special_parameter"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="paramset"/>
        <xs:choice>
          <xs:element ref="enforce_link"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="subconfig"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="aes_always" type="xs:boolean"/>
      <xs:attribute name="aes_cbc" type="xs:boolean"/>
      <xs:attribute name="aes_default" type="xs:boolean"/>
      <xs:attribute name="autoregister" type="xs:boolean"/>
      <xs:attribute name="class" type="xs:NCName"/>
      <xs:attribute name="count" type="xs:integer"/>
      <xs:attribute name="count_from_sysinfo" type="xs:NMTOKEN"/>
      <xs:attribute name="direction" type="xs:NCName"/>
      <xs:attribute name="function" type="xs:NCName"/>
      <xs:attribute name="has_team" type="xs:boolean"/>
      <xs:attribute name="hidden" type="xs:boolean"/>
      <xs:attribute name="index" use="required" type="xs:integer"/>
      <xs:attribute name="pair_function" type="xs:NCName"/>
      <xs:attribute name="paired" type="xs:boolean"/>
      <xs:attribute name="team_tag" type="xs:NCName"/>
      <xs:attribute name="type" type="xs:NCName"/>
      <xs:attribute name="ui_flags" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="forward_param_values">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="channel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="special_parameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="logical"/>
        <xs:element ref="physical"/>
        <xs:element ref="conversion"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subconfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="link_roles"/>
        <xs:element maxOccurs="unbounded" ref="paramset"/>
        <xs:element minOccurs="0" ref="enforce_link"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="logical">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special_value"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="option"/>
      </xs:choice>
      <xs:attribute name="default"/>
      <xs:attribute name="max" type="xs:NMTOKEN"/>
      <xs:attribute name="min" type="xs:decimal"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute name="unit"/>
      <xs:attribute name="use_default_on_failure" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="special_value">
    <xs:complexType>
      <xs:attribute name="default" type="xs:boolean"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="value" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="option">
    <xs:complexType>
      <xs:attribute name="default" type="xs:boolean"/>
      <xs:attribute name="id" use="required"/>
      <xs:attribute name="index" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="physical">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="multiframe_command_frame"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="event"/>
          <xs:element ref="get"/>
          <xs:element ref="set"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="reset_after_send"/>
      </xs:sequence>
      <xs:attribute name="counter" type="xs:NCName"/>
      <xs:attribute name="id" type="xs:NCName"/>
      <xs:attribute name="index" type="xs:NMTOKEN"/>
      <xs:attribute name="interface" use="required" type="xs:NCName"/>
      <xs:attribute name="list" type="xs:integer"/>
      <xs:attribute name="mask" type="xs:NMTOKEN"/>
      <xs:attribute name="no_init" type="xs:boolean"/>
      <xs:attribute name="save_on_change" type="xs:boolean"/>
      <xs:attribute name="signed" type="xs:boolean"/>
      <xs:attribute name="size" type="xs:NMTOKEN"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute name="value_id" type="xs:NCName"/>
      <xs:attribute name="volatile" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiframe_command_frame">
    <xs:complexType>
      <xs:attribute name="channel_field" use="required" type="xs:decimal"/>
      <xs:attribute name="direction" use="required" type="xs:NCName"/>
      <xs:attribute name="max_frames" use="required" type="xs:integer"/>
      <xs:attribute name="payload_index" use="required" type="xs:integer"/>
      <xs:attribute name="send_immidiately" use="required" type="xs:boolean"/>
      <xs:attribute name="subtype" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="subtype_index" use="required" type="xs:integer"/>
      <xs:attribute name="type" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="wakeup_on_immidiate_send_failure" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="domino_event"/>
      </xs:sequence>
      <xs:attribute name="auth_violate_policy" type="xs:NCName"/>
      <xs:attribute name="frame" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="domino_event">
    <xs:complexType>
      <xs:attribute name="delay_id" use="required" type="xs:NCName"/>
      <xs:attribute name="value" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="get">
    <xs:complexType>
      <xs:attribute name="auth_violate_policy" type="xs:NCName"/>
      <xs:attribute name="event" type="xs:boolean"/>
      <xs:attribute name="process_as_event" type="xs:boolean"/>
      <xs:attribute name="request" use="required" type="xs:NCName"/>
      <xs:attribute name="response" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="set">
    <xs:complexType>
      <xs:attribute name="process_as_event" type="xs:boolean"/>
      <xs:attribute name="request" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="reset_after_send">
    <xs:complexType>
      <xs:attribute name="param" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="conversion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="value_map"/>
      </xs:sequence>
      <xs:attribute name="delimiter"/>
      <xs:attribute name="div" type="xs:integer"/>
      <xs:attribute name="exponent_size" type="xs:integer"/>
      <xs:attribute name="exponent_start" type="xs:integer"/>
      <xs:attribute name="factor" type="xs:decimal"/>
      <xs:attribute name="factors"/>
      <xs:attribute name="false" type="xs:integer"/>
      <xs:attribute name="has0XPrefix" type="xs:boolean"/>
      <xs:attribute name="length_bytes" type="xs:integer"/>
      <xs:attribute name="mantissa_size" type="xs:integer"/>
      <xs:attribute name="mantissa_start" type="xs:integer"/>
      <xs:attribute name="mul" type="xs:integer"/>
      <xs:attribute name="off" type="xs:integer"/>
      <xs:attribute name="offset" type="xs:decimal"/>
      <xs:attribute name="on" type="xs:integer"/>
      <xs:attribute name="physical_bytes" type="xs:integer"/>
      <xs:attribute name="sim_counter" type="xs:NCName"/>
      <xs:attribute name="threshold" type="xs:NMTOKEN"/>
      <xs:attribute name="true" type="xs:integer"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute name="value" type="xs:NMTOKEN"/>
      <xs:attribute name="value_size" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="value_map">
    <xs:complexType>
      <xs:attribute name="device_value" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="from_device" type="xs:boolean"/>
      <xs:attribute name="mask" type="xs:NMTOKEN"/>
      <xs:attribute name="parameter_value" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="link_roles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="source"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="target"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="source">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="team" type="xs:boolean"/>
      <xs:attribute name="virtual" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="target">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="team" type="xs:boolean"/>
      <xs:attribute name="virtual" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="enforce_link">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
